body {
  background: #1e5799;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  margin: 20px auto;
}

div {
  position: absolute;
  transform-style: preserve-3d;
}

.camera {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera.-x {
  transform: rotateX(-30deg);
}

.under-sea {
  transform: scale3d(0.4, 0.4, 0.4);
}

.blowing-bubbles .bubble:nth-child(1) {
  left: 6px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6365ms -645ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(2) {
  left: -13px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4359ms -7969ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(3) {
  left: 7px;
  width: 17px;
  height: 17px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5530ms -1916ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(4) {
  left: -29px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6100ms -9466ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(5) {
  left: 38px;
  width: 13px;
  height: 13px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6696ms -3590ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(6) {
  left: 12px;
  width: 24px;
  height: 24px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5002ms -1303ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(7) {
  left: -1px;
  width: 24px;
  height: 24px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4880ms -5527ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(8) {
  left: 2px;
  width: 29px;
  height: 29px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 3520ms -6817ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(9) {
  left: 30px;
  width: 12px;
  height: 12px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5266ms -7185ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(10) {
  left: -36px;
  width: 23px;
  height: 23px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5217ms -5407ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(11) {
  left: -12px;
  width: 26px;
  height: 26px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5383ms -9519ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(12) {
  left: 33px;
  width: 29px;
  height: 29px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 3375ms -7778ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(13) {
  left: -11px;
  width: 30px;
  height: 30px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5528ms -5525ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(14) {
  left: -26px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 3245ms -9613ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(15) {
  left: 12px;
  width: 20px;
  height: 20px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6115ms -8127ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(16) {
  left: 12px;
  width: 16px;
  height: 16px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 3062ms -4422ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(17) {
  left: 19px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6777ms -7893ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(18) {
  left: -27px;
  width: 22px;
  height: 22px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5377ms -7622ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(19) {
  left: -8px;
  width: 28px;
  height: 28px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 3362ms -8906ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(20) {
  left: 9px;
  width: 27px;
  height: 27px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5962ms -4520ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(21) {
  left: -36px;
  width: 12px;
  height: 12px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6647ms -2743ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(22) {
  left: -12px;
  width: 21px;
  height: 21px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5520ms -3417ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(23) {
  left: 9px;
  width: 28px;
  height: 28px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5234ms -7118ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(24) {
  left: 38px;
  width: 27px;
  height: 27px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5691ms -3659ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(25) {
  left: 16px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6658ms -6767ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(26) {
  left: 6px;
  width: 28px;
  height: 28px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4329ms -4660ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(27) {
  left: 6px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 3576ms -3092ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(28) {
  left: -26px;
  width: 19px;
  height: 19px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4528ms -3453ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(29) {
  left: 31px;
  width: 12px;
  height: 12px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5676ms -5891ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(30) {
  left: 23px;
  width: 19px;
  height: 19px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4912ms -5948ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(31) {
  left: -20px;
  width: 19px;
  height: 19px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6225ms -8701ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(32) {
  left: 7px;
  width: 18px;
  height: 18px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4689ms -764ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(33) {
  left: -16px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 5084ms -1608ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(34) {
  left: 14px;
  width: 13px;
  height: 13px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6834ms -5646ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(35) {
  left: 21px;
  width: 18px;
  height: 18px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6566ms -6810ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(36) {
  left: -12px;
  width: 27px;
  height: 27px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4973ms -887ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(37) {
  left: -29px;
  width: 19px;
  height: 19px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6371ms -6274ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(38) {
  left: 37px;
  width: 21px;
  height: 21px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6957ms -2168ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(39) {
  left: 12px;
  width: 27px;
  height: 27px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 6508ms -6245ms linear infinite;
}

.blowing-bubbles .bubble:nth-child(40) {
  left: -7px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #afd2f7;
  border-radius: 100%;
  animation: bubbles 4091ms -8513ms linear infinite;
}

@keyframes bubbles {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.fish-body .scale {
  position: static;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 100px;
  animation: fishColor 1000ms linear infinite alternate;
}

.fish-body .scale.-top.-front {
  transform: scale(1, 1) skewX(4.5deg) rotateY(-11deg) rotateX(23deg) translate(1.5px, 2.5px);
}

.fish-body .scale.-top.-back {
  transform: scale(-1, 1) skewX(4.5deg) rotateY(-11deg) rotateX(23deg) translate(1.5px, 2.5px);
}

.fish-body .scale.-bottom.-front {
  transform: scale(1, -1) skewX(4.5deg) rotateY(-11deg) rotateX(23deg) translate(1.5px, 2.5px);
}

.fish-body .scale.-bottom.-back {
  transform: scale(-1, -1) skewX(4.5deg) rotateY(-11deg) rotateX(23deg) translate(1.5px, 2.5px);
}

.fish-body > .half {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 100px;
}

.fish-body > .half.-left {
  transform: translateZ(-1px);
}

.fish-body > .half.-left .scale.-top.-front {
  animation-delay: -200ms;
}

.fish-body > .half.-left .scale.-top.-back {
  animation-delay: -400ms;
}

.fish-body > .half.-left .scale.-bottom.-front {
  animation-delay: -600ms;
}

.fish-body > .half.-left .scale.-bottom.-back {
  animation-delay: -800ms;
}

.fish-body > .half.-right {
  transform: scaleZ(-1) translateZ(-1px);
}

.fish-body > .half.-right .scale.-top.-front {
  animation-delay: -1000ms;
}

.fish-body > .half.-right .scale.-top.-back {
  animation-delay: -1200ms;
}

.fish-body > .half.-right .scale.-bottom.-front {
  animation-delay: -1400ms;
}

.fish-body > .half.-right .scale.-bottom.-back {
  animation-delay: -1600ms;
}

.fish-tail {
  top: 10px;
  left: -30px;
  transform-origin: 100% 50%;
  animation: fishMotion 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.fish-tail > .scale {
  position: static;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 30px;
  animation: fishColor 1000ms linear infinite alternate;
}

.fish-tail > .scale.-top {
  transform: scale(-1, 1);
}

.fish-tail > .scale.-bottom {
  transform: scale(-1, -1);
  animation-delay: -200ms;
}

.swiming-fishes .rotate {
  width: 400px;
  transform-origin: 0 0;
  animation: rotateY 10000ms linear infinite;
}

.swiming-fishes .swim:nth-child(1) .rotate {
  width: 246px;
  animation-delay: -5442ms;
  animation-duration: 10060ms;
}

.swiming-fishes .swim:nth-child(1) .depth {
  transform: translateY(-11px);
}

.swiming-fishes .swim:nth-child(1) .shadow {
  transform: translate(-50px, 211px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(1) .fish {
  animation-delay: -652ms;
}

.swiming-fishes .swim:nth-child(1) .fish-tail {
  animation-delay: -352ms;
}

.swiming-fishes .swim:nth-child(2) .rotate {
  width: 381px;
  animation-delay: -3977ms;
  animation-duration: 8276ms;
}

.swiming-fishes .swim:nth-child(2) .depth {
  transform: translateY(-413px);
}

.swiming-fishes .swim:nth-child(2) .shadow {
  transform: translate(-50px, 613px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(2) .fish {
  animation-delay: -1485ms;
}

.swiming-fishes .swim:nth-child(2) .fish-tail {
  animation-delay: -1185ms;
}

.swiming-fishes .swim:nth-child(3) .rotate {
  width: 693px;
  animation-delay: -5032ms;
  animation-duration: 11950ms;
}

.swiming-fishes .swim:nth-child(3) .depth {
  transform: translateY(-613px);
}

.swiming-fishes .swim:nth-child(3) .shadow {
  transform: translate(-50px, 813px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(3) .fish {
  animation-delay: -937ms;
}

.swiming-fishes .swim:nth-child(3) .fish-tail {
  animation-delay: -637ms;
}

.swiming-fishes .swim:nth-child(4) .rotate {
  width: 609px;
  animation-delay: -7050ms;
  animation-duration: 10264ms;
}

.swiming-fishes .swim:nth-child(4) .depth {
  transform: translateY(-544px);
}

.swiming-fishes .swim:nth-child(4) .shadow {
  transform: translate(-50px, 744px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(4) .fish {
  animation-delay: -1170ms;
}

.swiming-fishes .swim:nth-child(4) .fish-tail {
  animation-delay: -870ms;
}

.swiming-fishes .swim:nth-child(5) .rotate {
  width: 724px;
  animation-delay: -9843ms;
  animation-duration: 8907ms;
}

.swiming-fishes .swim:nth-child(5) .depth {
  transform: translateY(-215px);
}

.swiming-fishes .swim:nth-child(5) .shadow {
  transform: translate(-50px, 415px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(5) .fish {
  animation-delay: -2041ms;
}

.swiming-fishes .swim:nth-child(5) .fish-tail {
  animation-delay: -1741ms;
}

.swiming-fishes .swim:nth-child(6) .rotate {
  width: 472px;
  animation-delay: -1484ms;
  animation-duration: 10995ms;
}

.swiming-fishes .swim:nth-child(6) .depth {
  transform: translateY(-601px);
}

.swiming-fishes .swim:nth-child(6) .shadow {
  transform: translate(-50px, 801px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(6) .fish {
  animation-delay: -1029ms;
}

.swiming-fishes .swim:nth-child(6) .fish-tail {
  animation-delay: -729ms;
}

.swiming-fishes .swim:nth-child(7) .rotate {
  width: 394px;
  animation-delay: -4667ms;
  animation-duration: 10149ms;
}

.swiming-fishes .swim:nth-child(7) .depth {
  transform: translateY(-262px);
}

.swiming-fishes .swim:nth-child(7) .shadow {
  transform: translate(-50px, 462px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(7) .fish {
  animation-delay: -1224ms;
}

.swiming-fishes .swim:nth-child(7) .fish-tail {
  animation-delay: -924ms;
}

.swiming-fishes .swim:nth-child(8) .rotate {
  width: 707px;
  animation-delay: -7187ms;
  animation-duration: 8193ms;
}

.swiming-fishes .swim:nth-child(8) .depth {
  transform: translateY(-533px);
}

.swiming-fishes .swim:nth-child(8) .shadow {
  transform: translate(-50px, 733px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(8) .fish {
  animation-delay: -2108ms;
}

.swiming-fishes .swim:nth-child(8) .fish-tail {
  animation-delay: -1808ms;
}

.swiming-fishes .swim:nth-child(9) .rotate {
  width: 776px;
  animation-delay: -7152ms;
  animation-duration: 13498ms;
}

.swiming-fishes .swim:nth-child(9) .depth {
  transform: translateY(-613px);
}

.swiming-fishes .swim:nth-child(9) .shadow {
  transform: translate(-50px, 813px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(9) .fish {
  animation-delay: -1881ms;
}

.swiming-fishes .swim:nth-child(9) .fish-tail {
  animation-delay: -1581ms;
}

.swiming-fishes .swim:nth-child(10) .rotate {
  width: 512px;
  animation-delay: -4235ms;
  animation-duration: 8445ms;
}

.swiming-fishes .swim:nth-child(10) .depth {
  transform: translateY(-172px);
}

.swiming-fishes .swim:nth-child(10) .shadow {
  transform: translate(-50px, 372px) rotateX(90deg);
}

.swiming-fishes .swim:nth-child(10) .fish {
  animation-delay: -1556ms;
}

.swiming-fishes .swim:nth-child(10) .fish-tail {
  animation-delay: -1256ms;
}

.fish-component {
  top: -50px;
  right: 0;
  transform: rotateY(90deg) translateX(-100px);
}

.fish-component .fish {
  transform-origin: 100px 50px;
  animation: fishMotion 500ms -200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.fish-component .shadow {
  width: 300px;
  height: 200px;
  background: radial-gradient(ellipse at center, rgba(25, 44, 84, 0.2) 10%, rgba(14, 71, 145, 0) 50%);
}

@keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotateZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fishColor {
  0% {
    border-color: transparent transparent #6c99c6 transparent;
  }
  100% {
    border-color: transparent transparent #1a5ab6 transparent;
  }
}

@keyframes fishMotion {
  0% {
    transform: rotateY(20deg);
  }
  100% {
    transform: rotateY(-20deg);
  }
}
