/**
1 框
2 眼睛
3 鼻子
4 胡须
**/
* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.poster {
  position: relative;
  width: 480px;
  height: 680px;
  background: #fff;
  margin: 0 auto;
  border: 1px solid #eee;
  text-align: center;
  padding-top: 70px;

  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
}

.poster:before {
  content: "";
  position: absolute;
  left: -151px;
  bottom: 0;
  z-index: 10;
  width: 480px;
  height: 680px;
  border-left: 150px solid #fff;
  border-right: 150px solid #fff;
}

.poster:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -201px;
  z-index: 10;
  width: 480px;
  height: 200px;
  background: #fff;
}

.prefix-text,
.suffix-text {
  font-size: 50px;
  vertical-align: top;
}

.sub-title {
  margin-top: -50px;
}

h1,
h4 {
  color: #5087b8;
}

.doraemon {
  width: 100%;
  height: 430px;
  border: 1px solid #ededed;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 700px;
  height: 350px;
  background: #5087b8;
  border-radius: 350px 350px 0 0 / 350px 350px 0 0;
  transform: translate(-50%);
}

.face {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 600px;
  height: 250px;
  background: #fff;
  transform: translate(-50%);
  border-radius: 300px 300px 0 0 / 225px 225px 0 0;
}

.mirror {
  transform: rotateY(180deg); // 水平翻转
}

.eyes {
  position: absolute;
  top: 38px;
  width: 136px;
  height: 136px;
  border: 2px solid #7f888f;
  background: #fff;
  border-radius: 100px 60px 100px 70px / 100px 60px 100px 70px;

  &.eye-left {
    left: 104px;
  }

  &.eye-right {
    right: 104px;
  }

  .pupil {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 33px;
    height: 33px;
    background: #a0834b;
    border: 1px solid #000;
    border-radius: 50%;
  }
  .pupil-mask {
    position: relative;
    width: 32px;
    height: 17px;
    background: #000;
    border-radius: 32px 32px 0 0;
    opacity: 0.9;
    box-shadow: 0 3px rgba(0, 0, 0, 0.75);
  }
  .pupil-middle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    background: #a0834b;
    border: 1px solid #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .pupil-small {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
  }
  .tear-top {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 20px;
    height: 10px;
    background: #fff;
    border-radius: 10px / 8px 8px 6px 5px;
    transform: rotate(-10deg);
  }
  .tear-bottom {
    position: absolute;
    top: 14px;
    left: 7px;
    z-index: 2;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
  }
}

.nose {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 127px;
  left: 50%;
  background: #ae3537;
  transform: translate(-50%);
  border-radius: 50%;
  box-shadow: 2px 30px 18px -8px rgba(0, 0, 0, 0.33);

  & .blink {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 36px;
    height: 22px;
    background: #bf5d5c;
    border-radius: 80px 30px 44px 20px / 60px 30px 60px 20px;
  }
}

.beard {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 140px;
  height: 200px;
}

.beard-left {
  left: 0;
}

.beard-right {
  right: 0;
}

.beard-line-top,
.beard-line-middle,
.beard-line-bottom {
  width: 135px;
  height: 2px;
  border-radius: 2px;
  background: #434f4f;
}

.beard-line-top {
  position: absolute;
  top: 25px;
  left: 5px;
  transform: rotate(23deg);
}

.beard-line-middle {
  position: absolute;
  top: 85px;
  transform: rotate(8deg);
}

.beard-line-bottom {
  position: absolute;
  top: 150px;
  transform: rotate(170deg);
}

.mouth {
  position: absolute;
  top: 272px;
  left: 15px;
  width: 450px;
  height: 230px;
  border-radius: 0px 0px 230px 230px;
  background: #9da8a9;
  box-shadow: 0px 18px 7px -2px rgba(0, 0, 0, 0.35);
}

.mouth:after {
  content: "";
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translate(-50%);
  width: 1px;
  height: 140px;
  background: rgba(0, 0, 0, 0.15);
  z-index: 11;
}

.mouth-cover {
  position: absolute;
  top: 262px;
  left: 13px;
  width: 454px;
  height: 230px;
  border-radius: 0px 0px 230px 230px;
  background: #fff;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
